:root {
  --purple: #4c3698;
  --green: #4eaf8c;
  --white: #ececec;
  --gradient: linear-gradient(
    331deg,
    rgba(76, 54, 152, 1) 20%,
    rgba(78, 175, 140, 1) 55%
  );
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  color: #3f3f3f;
  font-family: monospace;
  background: rgb(154, 132, 231);
  background: var(--gradient);
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  min-height: 90vh;
  padding: 2em;
  font-size: 1em;
}

.timers-setup {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.3em;
}

.error {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0.4em 0;
  color: red;
  text-align: center;
  background-color: white;
}

.timers-setup input,
.timers-setup button {
  width: 30%;
  background-color: white;
}

.timers-setup input:focus-visible,
.button:focus-visible {
  outline: 2px solid var(--green);
}

.timers-setup input,
.button {
  border-radius: 10px;
  padding: 0.5em;
  transition: 0.3s ease-in-out;
}

.timers-setup button:hover {
  background-color: var(--purple);
}

.button:active {
  transform: scale(0.9);
}

.timers-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  min-height: 50vh;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease-in-out;
}

.timer:hover {
  background-color: rgba(255, 255, 255, 1);
}

.timer-text {
  font-weight: bold;
  font-size: 2em;
}

.number {
  font-size: 1.5em;
}

.button.control {
  padding: 0.5em 2em;
  color: white;
  text-transform: uppercase;
  background-color: var(--purple);
}

.button:hover {
  border-color: var(--green);
  color: var(--white);
  background-color: var(--green);
}
